*
{
    font-style: Roboto;
}
a{
    text-decoration:none;
}
/* Header */
.container_header
{
    background: url("../img/6c4379c95b7fac4756f94f501e2105b7.jpg") no-repeat center;
    background-size: cover;
    max-width: 1600px;
    height: 780px;
}
.container
{
    width: 1600px;
    margin: auto;
    max-height: 780px;
}
.container_header_nav
{
    display: flex;
    max-height: 80px;
    background: black;
    color: white;
}
.container_header_nav_div
{
    text-align: center;
    font-weight: 400;
    border: 1px solid white;
    word-break:break-all;
    margin: 14px;
    width: 70px;
    margin: 14px 34px 14px 220px;
}
.nav_div_p
{
    margin: 2px;
    font-size: 19px;
}
.container_header_nav_a
{
    margin: 29px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.nav_span
{
    margin: 29px 0px 29px 409px;
}
.header_circle
{
    width: 465px; 
    height: 465px;
    background: orange;
    border-radius: 50%;
    position: relative;
    left: 807px;
    top:12px;
    display: flex;
    flex-wrap: wrap;

}
.header_circle_text
{
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 106.5px;
    font-weight: bold;
    line-height: 75%;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    color: white;
    top: 74px;
    left: 73px;
}
.header_circle_span
{
    color: #FFEE2E;
}
.header_button
{
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #F7F7F7;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    font-family: inherit;
    border: 0;
    cursor: pointer;
    transition: all 0.2s linear;
    background: orange;
    padding: 15px 90px;
    line-height: 27px;
    top:130px;
    left:210px
}

/* firtsSetion */
.firstSection
{
    position: relative;
    display: flex;
    max-width: 1600px;
    flex-direction: row;
}
.firstSection_container_img
{
    height: 403px;
    max-width: 609px;
    margin-right: 87px;
}
.firstSection_container
{
    display: flex;
    position: relative;
    flex-direction: row;
    padding-left: 220px;
    margin-right: 20px;
    margin-top: 140px;
}
.container_text_header
{
    font-size: 48px;   
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 0px;
}
.container_text_subheader
{
    margin-top: 54px;
    margin-bottom: 34px;
    font-size: 24px;
}
.containeer_text_txt
{
    font-size: 16px;
    line-height: 22px;
}
.firstSection_flowerimg
{
    background: url("../img/b21a83da76a16ebdbfe99a57b8d03978.png") no-repeat;
    background-size: cover;
    height: 605px;
    width: 293px;
}
.firstSection_container_text
{
    max-width: 670px;
}
/* secondSection */
.secondSection
{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    padding-left: 145px;
}
.card_animal
{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}
.secondSection_article
{
    margin: 0px 15px 20px 15px;
}
.secondSection_article_container
{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid rgba(250, 111, 50, 1);
    border-radius: 5px;
}
.secondSection_article_container_img
{
    max-height: 366px;
    max-width: 366px;
}
.secondSection_article_container_text_link
{
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}
.secondSection_article_container_description
{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 14px;
}
.secondSection_article_container_text
{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 15px;
}
.secondSection_btn{
    width: 62px; 
    height: 62px;
    background: orange;
    border-radius: 50%;
    position: relative;
}